.recommendations {
  position: relative;

  &__inner {
    padding-top: 2rem;
    padding-bottom: 2.4rem;

    @include inner_padding($padding-LR);
  }

  &__header {
    @include header(h3);
    margin-bottom: 1.4rem;
  }

  &__paragraph {
    @include paragraph($line-height-two, $uppercase);
    margin-bottom: 0;
    text-align: left;
  }

  &__item {
    position: relative;
    padding: 1.5rem 1.5rem 1.3rem 4.9rem;

    &::before {
      content: "";
      position: absolute;
      height: 3.9rem;
      width: 4rem;
    }

    &--house::before {
      top: 0.6rem;
      left: 0.1rem;
      background-image: url("../img/icon-house.svg");
      background-repeat: no-repeat;
      background-size: 4.1rem 3.7rem;
    }

    &--gift::before {
      top: 0.4rem;
      left: 0.5rem;
      background-image: url("../img/icon-gift.svg");
      background-repeat: no-repeat;
      background-size: 3.4rem 3.7rem;
    }

    &--food::before {
      top: 1rem;
      left: -0.1rem;
      background-image: url("../img/icon-burger.svg");
      background-repeat: no-repeat;
      background-size: 3.9rem 3.5rem;
    }
  }

  // Tablet screen
  @include screen-size($tablet-size) {
    &__inner {
      display: flex;
      padding: 2rem 0 4.8rem;
    }

    &__header {
      margin-bottom: 2.1rem;

      @include text-size($font-size-two, $line-height-three);
      text-align: center;
    }

    &__paragraph {
      text-align: center;
    }

    &__item {
      width: 33.3%;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: 33.3%;
      padding-top: 13.9rem;
      padding-bottom: 1.3rem;

      @include inner_padding($padding-tablet-two-LR);

      &::before {
        height: 7.5rem;
        left: 50%;
        transform: translate(-50%);
      }

      &--house::before {
        top: 4rem;
        width: 7.7rem;
        background-size: 7.6rem 7.2rem;
      }

      &--gift {
        order: 1;

        &::before {
          top: 3.7rem;
          width: 6.6rem;
          background-size: 6.4rem 7.5rem;
        }
      }

      &--food::before {
        top: 4.2rem;
        width: 7.7rem;
        background-size: 7.7rem 7rem;
      }
    }
  }

  // Desktop screen
  @include screen-size($desktop-size) {
    &__inner {
      padding-bottom: 6.9rem;
    }

    &__item {
      @include inner_padding($padding-desktop-two-LR);
    }
  }
}
