.form {
  &__section {
    &::after {
      content: "";
      display: block;
      border-top: 0.1rem solid $color-gray;
    }

    &--no-divider::after {
      content: none;
    }
  }

  &__inner {
    position: relative;

    @include inner_padding($padding-LR);
    padding-top: 1.8rem;
    padding-bottom: 0.9rem;

    &--smaller {
      padding-bottom: 0.4rem;
    }

    &--high {
      padding-bottom: 1.4rem;
      padding-right: 7%;
    }

    &--lower {
      padding-bottom: 0.4rem;
    }
  }

  &__field {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 2.1rem;

    &--flexgrid {
      display: flex;
      align-items: center;

      &:last-child {
        padding-bottom: 0;
      }
    }

    &--phone {
      margin-bottom: 1.1rem;
    }

    &--envelope {
      margin-bottom: 1.9rem;
    }

    &--radio-box {
      margin-bottom: 1.8rem;

      &:last-child {
        padding-bottom: 0.7rem;
      }
    }

    &--checkbox {
      margin-bottom: 3.5rem;

      &:last-child {
        margin-bottom: 2.4rem;
      }
    }

    &--constant {
      max-width: 28rem;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__number--flexgrid {
    display: flex;
  }

  &__flex-block {
    display: flex;
    flex-direction: row;
    padding-top: 0.5rem;
  }

  &__column {
    &--sm {
      width: 5.7rem;
      margin-right: 1rem;
    }

    &--bg {
      flex-grow: 1;
      flex-basis: 50%;
    }
  }

  &__label-count {
    margin: 0;
    padding-top: 0.3rem;
    padding-bottom: 0.7rem;
    font-size: $font-size-four;
    text-transform: uppercase;
    text-align: center;
  }

  &__input-count {
    font-size: $font-size-three;
    line-height: 5.7rem;
    font-weight: $font-weight-bolded;
    text-align: center;
    background-color: $color-gray-light;
  }

  &__header {
    @include header(h3);
    margin-bottom: 2rem;
    text-align: center;
    white-space: nowrap;

    &--space-bottom {
      margin-bottom: 2.2rem;
    }
  }

  &__label {
    display: block;
    width: auto;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    padding-right: 2.1rem;
    padding-left: 2.1rem;
    padding-bottom: 0.8rem;
    font-size: $font-size-four;
    line-height: $line-height-three;
    white-space: nowrap;
    text-transform: uppercase;

    &--stretch {
      padding-left: 0;
      padding-right: 2.3rem;
      padding-bottom: 0;
    }

    &--bolded {
      font-weight: $font-weight-bolded;
      text-transform: capitalize;
    }

    &--file {
      width: auto;
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-size: $font-size-two;
      font-weight: $font-weight-bolded;
      line-height: $line-height-three;
      color: $color-gray-darker-one;
      text-align: center;
      background-color: $color-gray-light;

      &:hover {
        background-color: $color-gray;
      }

      &:active {
        background-color: $color-gray-dark-two;
      }
    }

    &--checkbox {
      position: relative;
      display: inline-block;
      padding-top: 1.1rem;
      padding-left: 4.2rem;
      margin-left: 3.2rem;
      font-size: $font-size-three;

      &::before {
        content: "";
        position: absolute;
        top: -0.2rem;
        left: -3.7rem;
        height: 5.6rem;
        width: 5.6rem;
        background-color: $color-gray-light;
        border-radius: 10%;
      }

      &::after {
        content: none;
        position: absolute;
        top: 1.8rem;
        left: -2.2rem;
        display: inline-block;
        height: 1.7rem;
        width: 2.4rem;
        background-image: url("../img/icon-tick.svg");
        background-repeat: no-repeat;
        background-position: center;
      }

      &:hover::before {
        background-color: $color-gray;
      }

      &:active::before {
        background-color: $color-gray-dark-two;
      }

      &:active::after {
        background-image: url("../img/icon-tick--active.svg");
        background-repeat: no-repeat;
        background-position: center;
      }

      input[type="checkbox"]:checked + &::after {
        content: "";
      }
    }

    &--radio-box {
      position: relative;
      display: inline-block;
      padding-top: 1.7rem;
      padding-left: 4.2rem;
      margin-left: 3.2rem;
      font-size: $font-size-three;

      &::before {
        content: "";
        position: absolute;
        top: 0.3rem;
        left: -3.6rem;
        height: 5.6rem;
        width: 5.6rem;
        background-color: $color-gray-light;
        border-radius: 50%;
      }

      &::after {
        content: none;
        position: absolute;
        top: 2.1rem;
        left: -1.8rem;
        height: 2rem;
        width: 2rem;
        background-color: $color-black-light;
        border-radius: 50%;
      }

      &:hover::before {
        background-color: $color-gray;
      }

      &:active::after {
        background-color: $color-gray-dark-two;
      }

      input[type="radio"]:checked + &::after {
        content: "";
      }
    }

    &--hidden {
      display: none;
    }

    &--phone::after {
      content: "";
      position: absolute;
      top: 3.4rem;
      right: 0;
      height: 5.7rem;
      width: 5.8rem;
      background-color: $color-gray-two;
      background-image: url("../img/icon-phone.svg");
      background-repeat: no-repeat;
      background-position: center;
    }

    &--envelope::after {
      content: "";
      position: absolute;
      top: 3.4rem;
      right: 0;
      height: 5.7rem;
      width: 5.8rem;
      background-color: $color-gray-two;
      background-image: url("../img/icon-mail.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__input {
    box-sizing: border-box;
    height: 5.7rem;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    font-size: $font-size-three;
    font-weight: $font-weight-bolded;
    line-height: $line-height-three;
    background-color: $color-gray-light;
    border: 0.4rem solid $color-gray-light;
    outline: none;

    &:hover {
      background-color: $color-gray;
      border-color: $color-gray;
    }

    &:focus {
      background-color: $color-white;
      border-color: $color-gray;
    }

    &--hidden {
      opacity: 0;
      height: 0;
      width: 0;
      line-height: 0;
      border: none;
    }

    &--textarea {
      display: inline-block;
      min-height: 15.8rem;
      width: 100%;
      resize: none;
    }

    &--envelope,
    &--phone {
      padding-right: 5.6rem;
    }
  }

  &__number-holder {
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 6.5rem;
    width: 6.5rem;
    height: 5.7rem;
    margin-left: 0.8rem;
    padding-right: 6.5rem;

    @include text-size($font-size-three, 5.7rem);
    font-weight: $font-weight-bolded;
    text-align: center;
    background-color: $color-gray-light;

    &--day::after {
      content: "day";
      position: absolute;
      right: 0;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: 6.5rem;
      height: 5.7rem;
      width: 6.5rem;
      font-size: $font-size-three;
      color: $color-gray-darker-one;
      font-weight: $font-weight-bolded;
      text-align: center;
      background-color: $color-gray-light;
    }

    &--person::after {
      content: "person";
      position: absolute;
      right: 0;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: 6.5rem;
      height: 5.7rem;
      width: 6.5rem;
      font-size: $font-size-three;
      color: $color-gray-darker-one;
      font-weight: $font-weight-bolded;
      text-align: center;
      background-color: $color-gray-light;
    }
  }

  &__required {
    color: $color-red-light;
    margin-left: 0.7rem;

    &--right {
      visibility: hidden;
    }

    &--text {
      visibility: hidden;
    }
  }

  &__btn {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 5.7rem;
    width: 5.7rem;
    height: 5.7rem;
    margin: 0;
    padding: 0;
    line-height: 5.7rem;
    text-align: center;
    background-color: $color-gray-light;
    border: none;
    outline: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2rem;

    &:hover {
      background-color: $color-gray;
    }

    &:active {
      background-color: $color-gray-dark-two;
    }

    &--inc {
      background-image: url("../img/icon-plus.svg");
      margin-left: 0.8rem;
    }

    &--dec {
      background-image: url("../img/icon-minus.svg");
    }
  }

  &__submit {
    @include btn_big;
  }

  &__display-photos {
    display: flex;
    flex-wrap: wrap;
  }

  &__grid-item {
    position: relative;
    flex-basis: 23%;
    height: auto;
    line-height: 0;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 4rem;
  }

  &__preview-photo {
    width: 100%;
  }

  &__remove-btn {
    position: absolute;
    left: 50%;
    width: 4rem;
    height: 4rem;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: $color-gray-light;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 5%;
      left: 5%;
      width: 90%;
      height: 90%;
      background-image: url("../img/icon-cross.svg");
      background-size: 50%;
      background-position: center;
      background-repeat: no-repeat;
    }

    &:hover {
      background-color: $color-gray;
    }

    &:active {
      background-color: $color-gray-dark-two;
    }
  }

  input::-webkit-calendar-picker-indicator,
  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    display: none;
  }

  &__text-desktop {
    display: none;
  }

  // Tablet screen
  @include screen-size($tablet-size) {
    display: flex;
    flex-wrap: wrap;

    &__section {
      flex-basis: 100%;
      width: 100%;

      &::after {
        content: none;
      }

      &:first-child {
        flex-basis: 50%;
        width: 50%;

        &::before {
          content: "";
          position: absolute;
          height: 29.2rem;
          margin-top: 2.5rem;
          border-left: 0.1rem solid $color-gray;
        }
      }

      &:nth-child(5) {
        flex-basis: 50%;
        order: -1;
        width: 50%;

        &::after {
          content: none;
        }
      }
    }

    &__header {
      @include header(h2);
      position: relative;
      margin-bottom: 2.4rem;

      &::before {
        content: "";
        position: absolute;
        top: 1.2rem;
        left: 0;
        width: 25%;
        border-top: 0.1rem solid $color-gray;
      }

      &::after {
        content: "";
        position: absolute;
        top: 1.2rem;
        right: 0;
        width: 25%;
        border-top: 0.1rem solid $color-gray;
      }

      &--left {
        margin-bottom: 5.6rem;
        text-align: left;

        &::after,
        &::before {
          content: none;
        }
      }

      &--bottom-space {
        margin-bottom: 5.6rem;
      }
    }

    &__inner {
      padding-top: 3.5rem;
      @include inner_padding($padding-tablet-four-LR);

      &--left {
        padding-top: 2.1rem;
        @include inner_padding($padding-tablet-five-LR);
      }

      &--right {
        padding-top: 2.1rem;
        @include inner_padding($padding-tablet-five-LR);
      }

      &--lower {
        padding-top: 0;
        padding-bottom: 2.4rem;
      }

      &--high {
        padding-top: 0.4rem;
        padding-bottom: 6.1rem;
      }
    }

    &__field {
      &--radio-box {
        margin-bottom: 2.7rem;
      }

      &--checkbox {
        flex-basis: 38%;
        height: 5.2rem;
        width: 38%;
        margin-left: 1.3rem;
        margin-bottom: 3.6rem;

        &:first-child {
          order: 1;
          margin-left: 5rem;
        }

        &:nth-child(2) {
          order: 3;
          margin-left: 5rem;
        }

        &:nth-child(3) {
          order: 2;
        }

        &:nth-child(4) {
          order: 4;
        }
      }

      &--phone {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2.3rem;
      }

      &--envelope {
        margin-bottom: 1rem;
      }

      &--small {
        width: 28%;
        flex-basis: 28%;
      }

      &--constant {
        width: 28%;
        flex-basis: 28%;
      }

      &--column {
        width: 32%;
        flex-basis: 32%;
      }

      &--bottom-space {
        margin-bottom: 6.5rem;
      }
    }

    &__input {
      &--phone {
        order: 1;
      }

      &--textarea {
        min-height: 16rem;
      }
    }

    &__number-holder {
      margin-left: 0;
      padding-right: 0;

      &--day,
      &--person {
        &::after {
          content: none;
        }
      }
    }

    &__label {
      &--swap {
        visibility: hidden;

        &::before {
          content: "Days of stay:";
          visibility: visible;
        }
      }

      &--radio-box {
        margin-left: 3.6rem;
      }

      &--checkbox {
        margin-right: 0;
      }

      &--file {
        width: 70%;
        padding: 1.6rem 0;
        margin: 0 auto;
      }
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
    }

    &__type-parallel {
      display: none;
    }

    &__btn--inc {
      margin: 0;
    }

    &__column--bg {
      display: flex;
      justify-content: space-between;
    }

    &__item {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 2.1rem;
    }

    &__remove-btn {
      left: auto;
      right: 0;
      width: 6rem;
      height: 6rem;
      transform: translate(50%, -50%);
    }

    &__grid-item {
      flex-basis: 22%;
      margin-right: 6%;
      margin-bottom: 6.5rem;
    }

    &__submit {
      width: 50%;
    }

    &__required {
      &--right {
        visibility: visible;
        font-size: $font-size-four;
        line-height: $line-height-three;
      }

      &--text {
        visibility: visible;
        position: absolute;
        top: 2.2rem;
        right: 8%;
        font-size: $font-size-four;
        line-height: $line-height-three;
        color: $color-black;
        text-transform: uppercase;
      }
    }
  }

  // Desktop screen
  @include screen-size($desktop-size) {
    &__inner {
      @include inner_padding($padding-desktop-four-LR);

      &--left {
        padding-top: 0.6rem;
        padding-bottom: 0.7rem;

        @include inner_padding(21%);
      }

      &--right {
        padding: 0.6rem 20% 0.7rem 12%;
      }

      &--high {
        margin-bottom: 0.6rem;

        &::after {
          right: 10%;
        }
      }
    }

    &__header--left {
      margin-bottom: 5.6rem;
    }

    &__field {
      &--phone {
        flex-wrap: nowrap;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 42%;
        align-items: center;
        width: 42%;
        padding-top: 1.3rem;

        &::before {
          top: 1.3rem;
        }
      }

      &--envelope {
        display: flex;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 46%;
        align-items: center;
        width: 46%;

        &::before {
          top: 1.3rem;
        }
      }

      &--small {
        flex-basis: 29%;
        width: 29%;
      }

      &--constant {
        flex-basis: 29%;
        width: 29%;
      }

      &--aligne-left {
        margin-left: 0;
      }

      &--checkbox {
        flex-basis: 26%;
        flex-grow: 0;
        flex-shrink: 0;
        width: 27%;
        margin-left: 0;

        &:first-child {
          margin-left: 0.3rem;
        }

        &:nth-child(2) {
          order: 2;
        }

        &:nth-child(3) {
          order: 3;
        }
      }

      &--bottom-space {
        margin-bottom: 6rem;
      }
    }

    &__item {
      flex-wrap: nowrap;
      justify-content: unset;
    }

    &__item-row {
      display: flex;
      justify-content: space-between;
      padding-top: 3.7rem;
    }

    &__label {
      &--phone {
        width: 15%;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 15%;
        padding-left: 1.7rem;
        padding-right: 2.1rem;

        &::after {
          top: 1.3rem;
        }
      }

      &--envelope {
        margin-left: 2.5rem;

        &::after {
          top: 1.3rem;
        }
      }

      &--swap {
        visibility: visible;

        &::before {
          content: none;
        }
      }

      &--file {
        width: 100%;
      }
    }

    &__type-parallel {
      display: block;
    }

    &__number-holder {
      margin-left: 0.8rem;
      padding-right: 6.5rem;

      &--day::after {
        content: "day";
      }

      &--person::after {
        content: "person";
      }
    }

    &__btn--inc {
      margin-left: 0.8rem;
    }

    &__grid-item {
      flex-basis: 14%;
      margin-left: 0;
      margin-right: 7rem;

      &:nth-child(5n) {
        margin-right: 0;
      }
    }

    &__text-desktop {
      display: block;
    }

    &__text-mobile {
      display: none;
    }

    &__required--text {
      right: 10%;
    }
  }
}
