.find-hotel {
  text-align: center;

  &__inner {
    position: relative;
    padding-top: 2.8rem;
    padding-bottom: 4.9rem;

    @include inner_padding($padding-LR);
  }

  &__header {
    @include header(h3);
    margin-bottom: 1.9rem;
  }

  &__paragraph {
    @include paragraph($line-height-one, $uppercase);
    margin-bottom: 3.5rem;
    padding-left: 3%;
    padding-right: 3%;
  }

  &__btn {
    @include btn_big;
  }
}
