.find-hotel {
  text-align: center;

  &__inner {
    position: relative;
    padding: 2.8rem 6.5% 4.9rem;
  }

  &__header {
    margin-top: 0;
    margin-bottom: 1.9rem;
    line-height: $header-line-height;
    text-transform: uppercase;
  }

  &__paragraph {
    margin-bottom: 3.5rem;
    padding-left: 3%;
    padding-right: 3%;
    line-height: $paragraph-one-line-height;
    text-transform: uppercase;
  }

  &__btn {
    height: 5.9rem;
    width: 100%;
    font-size: $font-size--hotel;
    color: $color-white;
    text-transform: uppercase;
    background-color: $color-prmiary;
    border: none;

    &:hover {
      background-color: $color-hover-btn;
    }

    &:active {
      color: $font-active-btn;
      background-color: $color-active-btn;
    }

    &:disabled {
      background-color: $color-disabled-btn;
    }
  }
}
