.header-separator {
  position: relative;
  margin-bottom: 3.9rem;
  &__svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    fill: $color-white;
    stroke: $color-white;
  }
}
