.page-footer {
  &__inner {
    padding-top: 1.5em;
    padding-bottom: 3.6rem;

    @include inner_padding($padding-LR);
    text-align: center;
  }

  &__tag {
    padding-top: 2rem;
    padding-bottom: 2rem;

    &-header {
      @include header(h2);
      margin-bottom: 0;
    }
  }
}
