.page-footer {
  &__inner {
    position: relative;
    display: block;
    margin-bottom: 3.6rem;
    padding-top: 1.5em;
    text-align: center;
  }

  &__tag {
    position: relative;
    margin-bottom: 3.6rem;

    &-header {
      padding: 0 28.7%;
      font-size: $font-size--tag;
      line-height: $header-line-height;
    }
  }
}
