.sightseeing-group {
  padding-left: 6%;
  padding-right: 6%;
  text-align: center;
  background-color: $gray-bcakground;

  &::after {
    content: "";
    display: block;
    border-top: 0.1rem solid $gray-divider;
  }

  &:last-child::after {
    border: none;
  }

  &__inner {
    padding: 2.7rem 4% 1.3rem;
  }

  &__header {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: $header-line-height;
    text-transform: uppercase;
  }

  &__counter-paragraph {
    margin-top: 0;
    margin-bottom: 1.4rem;
    line-height: $paragraph-two-line-height;
    text-transform: uppercase;
  }

  &__paragraph {
    margin-top: 0;
    line-height: $paragraph-two-line-height;
    text-transform: uppercase;
  }
}
