.sightseeing-group {
  padding-left: 6%;
  padding-right: 6%;
  background-color: $color-gray-lighter;

  &::after {
    content: "";
    display: block;
    border-top: 0.1rem solid $color-gray-dark;
  }

  &:last-child::after {
    border: none;
  }

  &__inner {
    padding: 2.7rem 0.25% 1.3rem;
    text-align: center;
  }

  &__header {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: $line-height-three;
    text-transform: uppercase;
  }

  &__counter-paragraph {
    margin-top: 0;
    margin-bottom: 1.4rem;
    line-height: $line-height-two;
    text-transform: uppercase;
  }

  &__paragraph {
    margin-top: 0;
    line-height: $line-height-two;
    text-transform: uppercase;
  }
}
