.sightseeing-group {
  &__inner {
    position: relative;
    height: 16.8rem;
    display: block;
    text-align: center;
    background-color: $gray-bcakground;
  }

  &__header {
    position: relative;
    padding-top: 28px;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: $font-size--h2;
    line-height: $header-line-height;
    text-transform: uppercase;
  }

  &__counter-paragraph {
    position: relative;
    margin-top: 0;
    margin-bottom: 1.4rem;
    font-size: $font-paragraph;
    line-height: $paragraph-two-line-height;
    text-transform: uppercase;
  }

  &__paragraph {
    position: relative;
    // margin-top: 0;
    margin-bottom: 2.6rem;
    font-size: $font-paragraph;
    line-height: $paragraph-two-line-height;
    text-transform: uppercase;
  }

  &__divider {
    position: relative;
    display: block;
    width: 85%;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-color: $gray-divider;
  }
}
