.sightseeing-group {
  padding-left: 6%;
  padding-right: 6%;
  background-color: $color-gray-lighter;

  &::after {
    content: "";
    display: block;
    border-top: 0.1rem solid $color-gray-dark;
  }

  &:last-child::after {
    border: none;
  }

  &__inner {
    padding: 2.7rem 0.25% 1.3rem;
    text-align: center;
  }

  &__header {
    @include header(h3);
    margin-bottom: 1rem;
  }

  &__counter-paragraph {
    @include paragraph($line-height-two, $uppercase);
    margin-bottom: 1.4rem;
  }

  &__paragraph {
    @include paragraph($line-height-two, $uppercase);
  }
}
