.developer {
  &__svg {
    position: absolute;
    top: 1.3rem;
    left: 10.3rem;
  }

  &__logo {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-right: 40px;
    padding-top: 1.6rem;
    color: $color-black;

    @include header(h5);
    margin-bottom: 0;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;

    &:hover .developer__svg {
      fill: $color-blue;
    }

    &:active .developer__svg {
      opacity: 0.3;
    }
  }

  // Tablet screen
  @include screen-size($tablet-size) {
    width: 33.3%;
    flex-shrink: 1;
    flex-basis: 33.3%;
    padding-top: 1.5rem;
    text-align: left;

    &__logo {
      margin-right: 0;
      margin-left: 6.6rem;
    }
  }

  // Desktop screen
  @include screen-size($desktop-size) {
    text-align: right;

    &__logo {
      margin-left: 0;
      margin-right: 8rem;
    }
  }
}
