.preamble-separator {
  position: relative;
  background-color: $color-prmiary;
  // margin-bottom: 3.6rem;
  &__svg {
    position: relative;
    fill: $color-white;
    stroke: $color-white;
    margin-bottom: 3.6rem;
  }
}
