// Typography
// --------------------------------------------------
// Headings
//----------

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
  font-weight: $font-weight-bolded;
  line-height: $line-height-three;
}

h2 {
  font-size: $font-size-two;
}

h3 {
  font-size: $font-size-three;
}
// Body text
//----------

p {
  font-size: $font-size-four;
}
// separators
//----------

hr {
  background-color: $color-gray-dark;
}
