.wrapper {
}

.page-header {
  display: block;
  flex-wrap: wrap;
}

.main-nav {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;

  font-size: 100%;
  text-align: center;

  z-index: 1;

  &__list {
    display: block;
    position: relative;
    width: 100%;

    background: $color-prmiary;

    z-index: 2;
  }

  &__item:first-child {
    border-top: 0;
  }

  &__item {
    display: block;
    position: relative;
    height: 5.6rem;

    border-top: 1px solid $top-border;
    border-bottom: 1px solid $bottom-border;

    list-style-type: none;
  }

  &__item:last-child {
    height: 5.5rem;
    border-bottom: 0;
  }

  &__item > a {
    display: block;
    padding-top: 1.6rem;

    color: $nav-text;
    font-size: $font-size--nav;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__toggle {
    position: absolute;
    top: 1.2rem;
    right: 1.7rem;
    z-index: 2;
  }

  &__menu-bar {
    width: 2.3rem;
    height: 0.4rem;
    // background-color: $nav-close-button;
    background-color: $color-prmiary;
    margin: 0.5rem 0;
    z-index: 2;
  }

  &__toggle--close {
    position: absolute;
  }

  &__menu-bar--top {
    z-index: 2;
    width: 2.8rem;
    background-color: $nav-close-button;
    -webkit-transform: rotate(-45deg) translate(-8px, 5px);
    transform: rotate(-45deg) translate(-8px, 5px);
  }

  &__menu-bar--middle {
    opacity: 0;
  }

  &__menu-bar--bottom {
    z-index: 2;
    width: 2.8rem;
    background-color: $nav-close-button;
    -webkit-transform: rotate(45deg) translate(-8px, -5px);
    transform: rotate(45deg) translate(-8px, -5px);
  }

  &__link {}
}

.intro {
  display: block;
  margin-top: -2.9rem;
  height: 38.7rem;
  width: 100%;

  font-size: 100%;

  background: url("../images/intro-background.png") center;
  background-repeat: no-repeat;
  background-size: cover;

  &-list {
    width: 100%;

    &__item {
      text-indent: -9999px;
    }

    &__item--top {
      height: 39.1rem;
      width: 100%;
      background: url("../images/intro-sedona-small.png") center no-repeat;
    }
  }
}

.preamble {
  display: block;
  height: 23.9rem;
  padding-top: 4.6rem;

  text-align: center;

  &__header {
    font-size: $font-size--h2;
    font-weight: $font-bolded;
    line-height: $header-line-height;
    text-transform: uppercase;
  }

  &__paragraph {
    font-size: $font-paragraph;
    line-height: $paragraph-one-line-height;
  }
}

.sightseeing {
  display: block;
  height: 19.3rem;
  text-align: center;
  background-color: $color-prmiary;

  &__header {
    padding-top: 4.6rem;
    font-size: $font-size--h2;
    line-height: $header-line-height;
    text-transform: uppercase;
  }

  &__paragraph {
    font-size: $font-paragraph;
  }

  &__counter-paragraph {
    font-size: $font-paragraph;
  }
}

.recommendations {
  border: 1px solid black;

  &__header {
    font-size: $font-paragraph;
  }

  &__paragraph {
    font-size: $font-paragraph;
  }
}

.find-hotel {
  border: 1px solid black;
}

.page-footer {
  border: 1px solid black;
}
