.image-wrapper {
  height: 26rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include text-hide();

  &--top {
    @include img-retina("../img/main-city-tablet@1x.jpg", "../img/main-city-tablet@2x.jpg");
  }

  &--bottom {
    @include img-retina("../img/main-bridge-tablet@1x.jpg", "../img/main-bridge-tablet@2x.jpg");
  }

  // Tablet-screen
  @include screen-size($tablet-size) {
    height: auto;
    width: auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

    &--bottom {
      order: -1;
    }
  }

  // Desktop screen
  @include screen-size($desktop-size) {
    &--top {
      @include img-retina("../img/main-city-desktop@1x.jpg", "../img/main-city-desktop@2x.jpg");
    }

    &--bottom {
      @include img-retina("../img/main-bridge-desktop@1x.jpg", "../img/main-bridge-desktop@2x.jpg");
    }
  }
}
