.main-nav {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-bottom: -3.9rem;

  &__list {
    margin: 0;
    padding: 0;
    background: $color-blue;
  }

  &__item {
    line-height: 5.4rem;
    list-style-type: none;
    border-top: 0.1rem solid $color-white-dimm-two;
    border-bottom: 0.1rem solid $color-black-brighten;

    & > a {
      display: block;
      font-weight: $font-weight-bolded;
      font-size: $font-size-three;
      text-transform: uppercase;

      &:hover {
        background-color: $color-blue-dark;
      }

      &:active {
        color: $color-white-dimm;
        background-color: $color-blue-darker;
      }
    }

    &:first-child {
      border-top: 0;
    }
  }

  &__anchor:active {
    color: $color-white-dimm;
  }

  &__toggle {
    position: absolute;
    top: 17px;
    right: 21px;
    z-index: 2;
    display: block;
    height: 22px;
    width: 22px;
    border: none;
    outline: none;
    background-image: url("../img/icon-menu.svg");
    background-repeat: no-repeat;
    background-position: center;

    @include text-hide();

    &:hover {
      background-color: transparent;
    }

    &:active {
      background-color: transparent;
    }

    &--close {
      background-image: url("../img/icon-cross--white.svg");
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;
  }
}
