.main-nav {
  position: relative;
  z-index: 1;
  text-align: center;

  &__list {
    margin: 0;
    padding: 0;
    background: $color-prmiary;
  }

  &__item {
    line-height: 5.4rem;
    list-style-type: none;
    border-top: 0.1rem solid $top-border;
    border-bottom: 0.1rem solid $bottom-border;

    & > a {
      display: block;
      font-weight: $font-bolded;
      font-size: $font-size--nav;
      text-transform: uppercase;

      &:hover {
        background-color: $color-hover-btn;
      }

      &:active {
        color: $font-active-btn;
        background-color: $color-active-btn;
      }
    }

    &:first-child {
      border-top: 0;
    }
  }

  &__anchor:active {
    color: $font-active-btn;
  }

  &__toggle {
    position: absolute;
    top: 1.2rem;
    right: 1.7rem;
    z-index: 2;
  }

  &__svg {
    cursor: pointer;

    &--open {
      fill: $color-prmiary;
      position: absolute;
      top: 228px;
      left: -25px;
    }

    &--close {
      fill: $color-white;
      top: 5px;
      left: -25px;
      position: absolute;
    }
  }

  &__link {
    display: inline-block;
    width: 102px;
    height: 84px;
    margin-bottom: -38px;
    background-image: url("../img/logo-sedona-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }
}
