.main-nav {
  position: relative;
  z-index: 1;
  text-align: center;

  &__list {
    margin: 0;
    padding: 0;
    background: $color-blue;
  }

  &__item {
    line-height: 5.4rem;
    list-style-type: none;
    border-top: 0.1rem solid $color-white-dimm-two;
    border-bottom: 0.1rem solid $color-black-brighten;

    & > a {
      display: block;
      font-weight: $font-weight-bolded;
      font-size: $font-size-three;
      text-transform: uppercase;

      &:hover {
        background-color: $color-blue-dark;
      }

      &:active {
        color: $color-white-dimm;
        background-color: $color-blue-darker;
      }
    }

    &:first-child {
      border-top: 0;
    }
  }

  &__anchor:active {
    color: $color-white-dimm;
  }

  &__toggle {
    position: absolute;
    top: 1.2rem;
    right: 1.7rem;
    z-index: 2;
  }

  &__svg {
    cursor: pointer;

    &--open {
      fill: $color-blue;
      position: absolute;
      top: 22.8rem;
      left: -2.5rem;
    }

    &--close {
      fill: $color-white;
      top: 0.5rem;
      left: -2.5rem;
      position: absolute;
    }
  }

  &__link {
    display: inline-block;
    width: 10.2rem;
    height: 8.4rem;
    margin-bottom: -3.8rem;
    background-image: url("../img/logo-sedona-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }
}
