.social {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 1.7rem;
  padding-bottom: 2.6rem;

  &__link {
    display: block;
    position: relative;
    height: 4.8rem;
    width: 4.8rem;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 4.8rem;
    margin-right: 0.5rem;
    background-color: $color-blue;

    &:hover {
      background-color: $color-blue-dark;
    }

    &:active {
      background-color: $color-blue-darker;
    }
  }

  &__icon {
    position: absolute;
    left: 0;
    height: 4.8rem;
    width: 4.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.9rem;

    @include text_hide();

    &--twitter {
      background-image: url("../img/icon-twitter.svg");
    }

    &--facebook {
      background-image: url("../img/icon-facebook.svg");
      background-size: 0.9rem;
    }

    &--youtube {
      background-image: url("../img/icon-youtube.svg");
    }

    &:active {
      opacity: 0.3;
    }
  }

  // Tablet Screen
  @include screen-size($tablet-size) {
    width: 33.3%;
    flex-shrink: 1;
    flex-basis: 33.3%;
    padding-top: 2.1rem;
  }
}
