$font-size--base:   10px;
$font-size:         1.4rem;

$font-size--h1:     2rem;
$font-size--h2:     1.8rem;
$font-size--nav:    1.8rem;

$font-paragraph:    1.4rem;
$font-btn:          2.1rem;
$font-label:        1.4rem;
$font-input:        1.8rem;

$font-bolded: 700;
$header-line-height: 2.6rem;

$paragraph-one-line-height: 2.4rem;
$paragraph-two-line-height: 2.1rem;

$color-prmiary: #81B3D2;
$color-white: #FFFFFF;

$bottom-border-color: #010101;
$top-border-color: #FFFFFF;
$top-border: darken($top-border-color, 23%);
$bottom-border: lighten($bottom-border-color, 54%);
$nav-text: #FFFFFF;
$nav-close-button: #FFFFFF;
