
// Font vaiables
//----------
$font-family: PT Sans, sans-serif;
$font-size--base:   10px !default;
$font-size:         1.4rem;
$line-height-base:  2.4rem;

$font-size--h1:     3rem;
$font-size--h2:     1.8rem;
$font-size--nav:    1.8rem;
$font-size--hotel:  2.1rem;
$font-size--tag:    2.1rem;

$font-paragraph:    1.4rem;
$font-btn:          2.1rem;
$font-label:        1.4rem;
$font-input:        1.8rem;

$font-bolded: 700;
$header-line-height: 2.6rem;

$paragraph-one-line-height: 2.4rem;
$paragraph-two-line-height: 2.1rem;
$paragraph-three-line-height: 2.6rem;


// Colours
//----------
$color-prmiary: #81b3d2;
$color-white: #FFF;

// -- button
$color-button: #81b3d2;
$color-hover-btn: #669ec0;
$color-active-btn: #5496bd;
$color-disabled-btn: #e5e5e5;
$nav-close-button: #FFF;

// -- font
$font-hover: #FFF;
$font-active: #FFF;
$font-active-btn: rgba($font-active, 0.3);
$font-text-color: #FFF;

// -- borders
$bottom-border-color: #010101;
$bottom-border: rgba($bottom-border-color, 0.2);

$top-border-color: #FFF;
$top-border: rgba($top-border-color, 0.2);

$gray-bcakground: darken($color-white, 7%);
$gray-divider: darken($color-white, 10%);
