@mixin header ($size) {
  @if $size == h1 {
    font-size: $font-size-one;
    line-height: $line-height-three;
  }

  @else if $size == h3 {
    font-size: $font-size-three;
    line-height: $line-height-three;
  }

  @else if $size == h4 {
    font-size: $font-size-four;
    line-height: $line-height-one;
  }

  @else if $size == h5 {
    font-size: $font-size-four;
    line-height: $line-height-three;
  }

  @else {
    font-size: $font-size-two;
    line-height: $line-height-three;
  }

  margin-top: 0;
  font-weight: $font-weight-bolded;
  text-transform: uppercase;
}
