@import "mixins/header";
@import "mixins/btn_big";
@import "mixins/inner_padding";
@import "mixins/text-hide";
@import "mixins/size";
@import "mixins/image";
@import "mixins/paragraph";
@import "mixins/screen-size";
