.recommendations {
  display: block;
  padding-bottom: 5.8rem;

  &__inner {
    display: block;
  }

  &__header {
    position: relative;
    margin-left: 7rem;
    font-size: $font-size--h2;
    line-height: $header-line-height;
    font-weight: $font-bolded;
    text-transform: uppercase;
  }

  &__paragraph {
    position: relative;
    padding-top: 1.4rem;
    margin-left: 7rem;
    font-size: $font-paragraph;
    line-height: $paragraph-two-line-height;
    text-align: left;
    text-transform: uppercase;
  }

  &__item {
    display: block;
  }

  &__item--first {
    display: block;
    position: relative;
    margin-top: 3.5rem;
  }

  &__item--second {
    display: block;
    position: relative;
    margin-top: 2.8rem;
  }

  &__item--third {
    display: block;
    position: relative;
    margin-top: 2.8rem;
  }

  &__box--house {
    position: absolute;
    height: 3.9rem;
    width: 3.7rem;
    margin-left: 2.1rem;
    top: -0.9rem;
    background: url("../images/recom-house.png");
    background-repeat: no-repeat;
  }

  &__box--gift {
    position: absolute;
    height: 3.9rem;
    width: 3.8rem;
    margin-left: 2.5rem;
    top: -1.2rem;
    background: url("../images/recom-gift.png");
    background-repeat: no-repeat;
  }

  &__box--food {
    position: absolute;
    height: 3.5rem;
    width: 4.0rem;
    margin-left: 1.9rem;
    top: -0.6rem;
    background: url("../images/recom-food.png");
    background-repeat: no-repeat;
  }
}
