.recommendations {
  position: relative;

  &__inner {
    padding: 2rem 6.25% 2.4rem;
  }

  &__header {
    margin-top: 0;
    margin-bottom: 1.4rem;
    font-weight: $font-weight-bolded;
    line-height: $line-height-three;
    text-transform: uppercase;
  }

  &__paragraph {
    margin-top: 0;
    margin-bottom: 0;
    line-height: $line-height-two;
    text-align: left;
    text-transform: uppercase;
  }

  &__item {
    position: relative;
    padding: 1.5rem 1.5rem 1.3rem 4.9rem;

    &::before {
      content: "";
      position: absolute;
      height: 3.9rem;
      width: 4rem;
    }

    &--house::before {
      top: 0.6rem;
      left: 0.1rem;
      background-image: url("../img/icon-house.svg");
      background-repeat: no-repeat;
      background-size: 41px 37px;
    }

    &--gift::before {
      top: 0.4rem;
      left: 0.5rem;
      background-image: url("../img/icon-gift.svg");
      background-repeat: no-repeat;
      background-size: 34px 37px;
    }

    &--food::before {
      top: 1rem;
      left: -0.1rem;
      background-image: url("../img/icon-burger.svg");
      background-repeat: no-repeat;
      background-size: 39px 35px;
    }
  }
}
