.recommendations {
  margin-bottom: 5.7rem;

  &__inner {
    position: relative;
    padding-top: 1.8rem;
  }

  &__header {
    margin-bottom: 1.4rem;
    font-weight: $font-bolded;
    line-height: $header-line-height;
    text-transform: uppercase;
  }

  &__paragraph {
    margin-bottom: 2.8rem;
    padding-right: 16.4%;
    line-height: $paragraph-two-line-height;
    text-align: left;
    text-transform: uppercase;
  }

  &__item {
    margin-left: 7rem;
  }

  &__box {
    position: relative;

    &--house {
      position: absolute;
      top: 2.7rem;
      left: 2.1rem;
      height: 3.9rem;
      width: 3.7rem;
      background: url("../images/recom-house.png");
      background-repeat: no-repeat;
    }

    &--gift {
      position: absolute;
      top: 15.5rem;
      left: 2.4rem;
      height: 3.9rem;
      width: 3.8rem;
      background: url("../images/recom-gift.png");
      background-repeat: no-repeat;
    }

    &--food {
      position: absolute;
      top: 27.1rem;
      left: 1.9rem;
      height: 3.5rem;
      width: 4.0rem;
      background: url("../images/recom-food.png");
      background-repeat: no-repeat;
    }
  }
}
