.main-nav {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-bottom: -3.9rem;

  &__list {
    margin: 0;
    padding: 0;
    background: $color-blue;
    overflow: hidden;
    max-height: 30rem;
    transition: max-height 0.3s ease-out;
  }

  &__item {
    line-height: 5.4rem;
    list-style-type: none;
    border-top: 0.1rem solid $color-white-dimm-two;
    border-bottom: 0.1rem solid $color-black-brighten;

    &:first-child {
      border-top: 0;
    }
  }

  &__link {
    display: block;
    color: $color-white;
    font-weight: $font-weight-bolded;
    font-size: $font-size-three;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      color: $color-white;
      background-color: $color-blue-dark;
    }

    &:active {
      color: $color-white-dimm;
      background-color: $color-blue-darker;
    }
  }

  &__toggle {
    position: absolute;
    top: 1.7rem;
    right: 2.1rem;
    z-index: 2;
    display: block;
    height: 2.2rem;
    width: 2.2rem;
    border: none;
    outline: none;
    background-image: url("../img/icon-cross--white.svg");
    background-repeat: no-repeat;
    background-position: center;

    @include text-hide();

    &:hover {
      background-color: transparent;
    }

    &:active {
      background-color: transparent;
    }
  }

  &--close {
    .main-nav__list {
      max-height: 0;
    }

    .main-nav__toggle {
      background-image: url("../img/icon-menu.svg");
    }
  }

  &__logo {
    display: inline-block;
    text-decoration: none;
  }

  // Tablet screen
  @include screen-size($tablet-size) {
    margin-bottom: 0;

    &__list {
      display: flex;
      background-color: $color-white;
    }

    &__item {
      padding: 1.4rem 0 1.7rem;
      width: 10rem;
      flex-basis: 10rem;
      margin-left: 7%;
      border: none;

      &:first-child {
        margin-left: 0;
      }

      &:nth-child(3) {
        margin-left: auto;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &__link {
      font-size: $font-size-four;
      line-height: $line-height-three;
      color: $color-black;

      &:hover {
        background-color: transparent;
        color: $color-blue;
      }

      &:active {
        background-color: transparent;
        color: $color-black;
        opacity: 0.3;
      }

      &--active {
        color: $color-brown-light;

        &:hover {
          color: $color-brown;
        }

        &:active {
          opacity: 0.3;
        }
      }
    }

    &__toggle {
      display: none;
    }

    &--close {
      .main-nav__list {
        max-height: none;
        transition: none;
      }
    }

    &__logo {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  // Desktop screen
  @include screen-size($desktop-size) {
    &__item {
      margin-left: 12%;
    }
  }
}
