.map {
  position: relative;
  height: 35rem;

  @include img-retina('../img/bg-map-mobile@1x.jpg', '../img/bg-map-mobile@2x.jpg') background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__title {
    display: none;
  }

  // tablet screen
  @include screen-size($tablet-size) {
    @include img-retina('../img/bg-map-tablet@1x.jpg', '../img/bg-map-tablet@2x.jpg')
  }
  
  // Desktop screen
  @include screen-size($desktop-size) {
    @include img-retina('../img/bg-map-desktop@1x.jpg', '../img/bg-map-desktop@2x.jpg')
  }
}
