.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39rem;
  overflow: hidden;

  @include img-retina ("../img/bg-back-mobile@1x.jpg", "../img/bg-back-mobile@2x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::after {
    content: "";
    position: absolute;
    height: 39rem;
    width: 100%;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: bottom;
  }

  &__header {
    @include size(293px, 212px);
    background-image: url("../img/text-sedona-index.svg");
    background-repeat: no-repeat;
    background-size: 293px 212px;

    @include text-hide();

    &--small-bg {
      background-image: url("../img/text-sedona.svg");
      background-size: 23.1rem;
      background-position: 49% 43%;
      background-repeat: no-repeat;
    }
  }

  &--smaller {
    height: 16rem;

    @include img-retina("../img/bg-back-mobile@1x.jpg", "../img/bg-back-mobile@2x.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 50% 100%;

    &::after {
      content: "";
      position: absolute;
      height: 16rem;
      width: 100%;
      background-image: url("../img/bg-intro-triangle-mobile.svg");
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: bottom;
    }
  }
}
