.intro {
  height: 39rem;
  overflow: hidden;
  background: url("../img/text-sedona-index.svg"),
    url("../img/bg-intro-triangle-mobile.svg"),
    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 293px 212px, 100% 100%, cover;
  background-position: 49% 51%, 0 182px, center;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: url("../img/text-sedona-index.svg"),
      url("../img/bg-intro-triangle-mobile.svg"),
      url("../img/bg-back-mobile@2x.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 293px 212px, 100% 100%, cover;
    background-position: 49% 51%, 0 182px, center;
  }

  &__header {
    position: absolute;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  &--smaller {
    height: 16rem;
    background: url("../img/text-sedona.svg"),
      url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat,
      no-repeat;
    background-size: 23.1rem,
      auto;
    background-position: 49% 43%,
      50% 100%;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../img/text-sedona.svg"),
        url("../img/bg-back-mobile@2x.jpg");
      background-repeat: no-repeat,
        no-repeat;
      background-size: 23.1rem,
        auto;
      background-position: 49% 43%,
        50% 100%;
    }
  }
}
