.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39rem;
  overflow: hidden;
  position: relative;

  @include img-retina ("../img/bg-back-mobile@1x.jpg", "../img/bg-back-mobile@2x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::after {
    @include size(100%, 3rem);
    content: "";
    position: absolute;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-position: center;
    background-size: 100% 3rem;
    background-repeat: no-repeat;
    bottom: 0;
  }

  &__header {
    @include size(100%, 100%);
    max-width: 29.3rem;
    background-image: url("../img/text-sedona-index.svg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;

    @include text-hide();

    &--small-bg {
      max-width: 23.1rem;
      background-image: url("../img/text-sedona.svg");
    }
  }

  &--smaller {
    height: 16rem;
    background-size: auto;
    background-position: 50% 100%;
  }

  // Tablet screen
  @include screen-size($tablet-size) {
    height: 51.6rem;

    @include img-retina ("../img/bg-back-tablet@1x.jpg", "../img/bg-back-tablet@2x.jpg");

    &::after {
      height: 5.6rem;
      background-image: url("../img/bg-intro-triangle-tablet.svg");
      background-size: 100% 5.6rem;
    }

    &__header {
      max-width: 46.7rem;
    }
  }

  // Desktop screen
  @include screen-size($desktop-size) {
    @include img-retina ("../img/bg-back-desktop@1x.jpg", "../img/bg-back-desktop@2x.jpg");

    &::after {
      background-image: url("../img/bg-intro-triangle-desktop.svg");
    }
  }
}
