.social {
  position: relative;
  width: 100%;
  padding-top: 1.7rem;
  padding-bottom: 1.5rem;

  &__text {
    position: absolute;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  &__svg {
    display: inline-block;
    height: 17px;
    width: 17px;
    margin-right: 0.4rem;
    padding: 15px;
    background-color: $color-prmiary;
    fill: white;

    &:hover {
      background-color: $color-hover-btn;
    }

    &:active {
      fill: $font-active-btn;
      background-color: $color-active-btn;
    }
  }
}
