.social {
  position: relative;
  width: 100%;
  padding-top: 1.7rem;
  padding-bottom: 1.8rem;

  &__icon {
    display: inline-block;
    padding: 2.1rem 2.3rem 2.5rem;
    margin-right: 0.4rem;
    background-color: $color-prmiary;

    &--twitter {
      background-image: url("../images/tweeter-icon.png");
      background-position: center;
      background-repeat: no-repeat;

      &:hover {
        background-color: $color-hover-btn;
      }

      &:active {
        background-color: $color-active-btn;
        background-image: url("../images/tweeter-down.png");
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    &--facebook {
      background-image: url("../images/facebook-icon.png");
      background-position: center;
      background-repeat: no-repeat;

      &:hover {
        background-color: $color-hover-btn;
      }

      &:active {
        background-color: $color-active-btn;
        background-image: url("../images/facebook-down.png");
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    &--youtube {
      background-image: url("../images/youtube-icon.png");
      background-position: center;
      background-repeat: no-repeat;

      &:hover {
        background-color: $color-hover-btn;
      }

      &:active {
        background-color: $color-active-btn;
        background-image: url("../images/youtube-down.png");
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  &__paragraph {
    position: absolute;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }
}
