.sightseeing {
  &__inner {
    position: relative;
    display: block;
    padding-top: 3.9rem;
    padding-bottom: 4rem;

    @include inner_padding($padding-LR);
    text-align: center;
    background-color: $color-blue;

    &--top {
      padding: 5.7rem 6.25% 4.2rem;
    }

    &--separator {
      &::before {
        content: "";
        position: absolute;
        top: -19px;
        left: 0;

        @include size(100%, 3.7rem);
        background-image: url("../img/bg-triangle.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 3.7rem;
      }
    }
  }

  &__header {
    @include header(h3);
    margin-bottom: 0.9rem;
    color: $color-white;
  }

  &__counter-paragraph {
    @include paragraph($line-height-two, $uppercase);
    margin-bottom: 1.5rem;
    color: $color-white;
  }

  &__paragraph {
    @include paragraph($line-height-two, $uppercase);
    margin-bottom: 0;
    color: $color-white;
  }
}
