.sightseeing {
  &__inner {
    position: relative;
    display: block;
    height: 15.2rem;
    padding-top: 3.9rem;
    text-align: center;
    color: $color-white;
    background-color: $color-prmiary;
    // border: 1px solid red;
  }

  &__header {
    // try to find why does it need the - value
    margin-top: 0;
    margin-bottom: 0.9rem;
    line-height: $header-line-height;
    text-transform: uppercase;
  }

  &__counter-paragraph {
    margin-top: 0;
    margin-bottom: 1.6rem;
    font-size: $font-paragraph;
    line-height: $paragraph-two-line-height;
    text-transform: uppercase;
  }

  &__paragraph {
    margin-top: 0;
    font-size: $font-paragraph;
    line-height: $paragraph-two-line-height;
    text-transform: uppercase;
  }
}
