.sightseeing {
  &__inner {
    position: relative;
    display: block;
    padding: 3.9rem 6.25% 4rem;
    text-align: center;
    background-color: $color-prmiary;

    &--top {
      padding: 5.7rem 6.25% 4.2rem;
    }
  }

  &__svg {
    position: absolute;
    top: -2rem;
    left: 0;
    width: 100%;
    fill: $color-white;
  }

  &__header {
    margin-top: 0;
    margin-bottom: 0.9rem;
    color: $color-white;
    line-height: $header-line-height;
    text-transform: uppercase;
  }

  &__counter-paragraph {
    margin-top: 0;
    margin-bottom: 1.5rem;
    color: $color-white;
    line-height: $paragraph-two-line-height;
    text-transform: uppercase;
  }

  &__paragraph {
    margin-top: 0;
    margin-bottom: 0;
    color: $color-white;
    line-height: $paragraph-two-line-height;
    text-transform: uppercase;
  }
}
