.sightseeing {
  &__inner {
    position: relative;
    display: block;
    padding: 3.9rem 6.25% 4rem;
    text-align: center;
    background-color: $color-blue;

    &--top {
      padding: 5.7rem 6.25% 4.2rem;
    }

    &--separator {
      &::before {
        content: "";
        position: absolute;
        top: -19px;
        left: 0;

        @include size(100%, 3.7rem);
        background-image: url("../img/bg-triangle.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 3.7rem;
      }
    }
  }

  &__header {
    margin-top: 0;
    margin-bottom: 0.9rem;
    color: $color-white;
    line-height: $line-height-three;
    text-transform: uppercase;
  }

  &__counter-paragraph {
    margin-top: 0;
    margin-bottom: 1.5rem;
    color: $color-white;
    line-height: $line-height-two;
    text-transform: uppercase;
  }

  &__paragraph {
    margin-top: 0;
    margin-bottom: 0;
    color: $color-white;
    line-height: $line-height-two;
    text-transform: uppercase;
  }
}
