.sightseeing {
  &__inner {
    display: block;
    padding-bottom: 3.9rem;
    padding-top: 3.9rem;
    text-align: center;
    background-color: $color-prmiary;
  }

  &__header {
    margin-top: 0;
    margin-bottom: 0.9rem;
    color: $color-white;
    line-height: $header-line-height;
    text-transform: uppercase;
  }

  &__counter-paragraph {
    margin-top: 0;
    margin-bottom: 1.6rem;
    color: $color-white;
    font-size: $font-paragraph;
    line-height: $paragraph-two-line-height;
    text-transform: uppercase;
  }

  &__paragraph {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 33px;
    padding-right: 33px;
    color: $color-white;
    font-size: $font-paragraph;
    line-height: $paragraph-two-line-height;
    text-transform: uppercase;
  }
}
