.image-wrapper {
  &--top {
    height: 26rem;
    width: 100%;
    background: url("../images/building-main-content.png") center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--bottom {
    height: 26rem;
    width: 100%;
    background: url("../images/rocks-main-content.png") center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
