.form {
  &__section {
    &::after {
      content: "";
      display: block;
      border-top: 0.1rem solid $color-gray;
    }

    &--no-divider {
      &::after {
        content: none;
      }
    }
  }

  &__inner {
    position: relative;

    @include inner_padding;
    padding-top: 1.8rem;
    padding-bottom: 0.9rem;

    &--smaller {
      padding-bottom: 0.4rem;
    }

    &--high {
      padding-bottom: 3.7rem;
      padding-right: 7%;
    }

    &--lower {
      padding-bottom: 2.4rem;
    }
  }

  &__field {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 2.1rem;

    &--flexgrid {
      display: flex;
      align-items: center;

      &:last-child {
        padding-bottom: 0;
      }
    }

    &--phone {
      &::before {
        content: "";
        position: absolute;
        top: 3.4rem;
        right: 0;
        height: 5.7rem;
        width: 5.8rem;
        background-color: $color-gray-two;
        background-image: url("../img/icon-phone.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &--envelope {
      margin-bottom: 1.9rem;

      &::before {
        content: "";
        position: absolute;
        top: 3.4rem;
        right: 0;
        height: 5.7rem;
        width: 5.8rem;
        background-color: $color-gray-two;
        background-image: url("../img/icon-mail.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &--radio-box {
      margin-bottom: 1.8rem;

      &:last-child {
        padding-bottom: 0.7rem;
      }
    }

    &--checkbox {
      margin-bottom: 3.5rem;

      &:last-child {
        margin-bottom: 2.6rem;
      }
    }

    &--constant {
      max-width: 28rem;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__number {
    &--flexgrid {
      display: flex;
    }
  }

  &__flex-block {
    display: flex;
    flex-direction: row;
    padding-top: 0.5rem;
  }

  &__column {
    &--sm {
      width: 5.7rem;
      margin-right: 1rem;
    }

    &--bg {
      flex-grow: 1;
      flex-basis: 50%;
    }
  }

  &__label-count {
    margin: 0;
    padding-top: 0.3rem;
    margin-bottom: 0.7rem;
    font-size: $font-size-four;
    text-transform: uppercase;
    text-align: center;
  }

  &__input-count {
    font-size: $font-size-three;
    line-height: 5.7rem;
    font-weight: $font-weight-bolded;
    text-align: center;
    background-color: $color-gray-light;
  }

  &__header {
    @include header(h3);
    margin-bottom: 2rem;
    text-align: center;

    &--space-bottom {
      margin-bottom: 2.2rem;
    }
  }

  &__label {
    display: block;
    width: auto;
    margin-right: 2.1rem;
    margin-left: 2.1rem;
    margin-bottom: 0.8rem;
    font-size: $font-size-four;
    line-height: $line-height-three;
    white-space: nowrap;
    text-transform: uppercase;

    &--stretch {
      margin-left: 0;
      margin-right: 2.3rem;
      margin-bottom: 0;
    }

    &--bolded {
      font-weight: $font-weight-bolded;
      text-transform: capitalize;
    }

    &--file {
      width: auto;
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-size: $font-size-two;
      font-weight: $font-weight-bolded;
      line-height: $line-height-three;
      color: $color-gray-darker-one;
      text-align: center;
      background-color: $color-gray-light;

      &:hover {
        background-color: $color-gray;
      }

      &:active {
        background-color: $color-gray-dark-two;
      }
    }

    &--checkbox {
      position: relative;
      display: inline-block;
      padding-top: 1.1rem;
      padding-left: 4.2rem;
      margin-left: 3.2rem;
      font-size: $font-size-three;

      &::before {
        content: "";
        position: absolute;
        top: -0.2rem;
        left: -3.7rem;
        height: 5.6rem;
        width: 5.6rem;
        background-color: $color-gray-light;
        border-radius: 10%;
      }

      &::after {
        content: none;
        position: absolute;
        top: 1.8rem;
        left: -2.2rem;
        display: inline-block;
        height: 1.7rem;
        width: 2.4rem;
        background-image: url("../img/icon-tick.svg");
        background-repeat: no-repeat;
        background-position: center;
      }

      &:hover::before {
        background-color: $color-gray;
      }

      &:active::before {
        background-color: $color-gray-dark-two;
      }

      &:active::after {
        background-image: url("../img/icon-tick--active.svg");
        background-repeat: no-repeat;
        background-position: center;
      }

      input[type="checkbox"]:checked + &::after {
        content: "";
      }
    }

    &--radio-box {
      position: relative;
      display: inline-block;
      padding-top: 1.7rem;
      padding-left: 4.2rem;
      margin-left: 3.2rem;
      font-size: $font-size-three;

      &::before {
        content: "";
        position: absolute;
        top: 0.3rem;
        left: -3.6rem;
        height: 5.6rem;
        width: 5.6rem;
        background-color: $color-gray-light;
        border-radius: 50%;
      }

      &::after {
        content: none;
        position: absolute;
        top: 2.1rem;
        left: -1.8rem;
        height: 2rem;
        width: 2rem;
        background-color: $color-black-light;
        border-radius: 50%;
      }

      &:hover::before {
        background-color: $color-gray;
      }

      &:active::after {
        background-color: $color-gray-dark-two;
      }

      input[type="radio"]:checked + &::after {
        content: "";
      }
    }
  }

  &__input {
    box-sizing: border-box;
    top: -0.1rem;
    height: 5.7rem;
    width: 100%;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    font-size: $font-size-three;
    font-weight: $font-weight-bolded;
    line-height: $line-height-three;
    background-color: $color-gray-light;
    border: 0.4rem solid $color-gray-light;
    outline: none;

    &:hover {
      background-color: $color-gray;
      border-color: $color-gray;
    }

    &:focus {
      background-color: $color-white;
      border-color: $color-gray;
    }

    &--small {
      flex-grow: 1;
      width: auto;
      padding: 0;
      vertical-align: middle;
      margin-left: 0.8rem;
      text-align: center;
    }

    &--hidden {
      opacity: 0;
      height: 0;
      width: 0;
      line-height: 0;
      border: none;
    }

    &--textarea {
      display: inline-block;
      min-height: 15.8rem;
      width: 100%;
      resize: none;
    }
  }

  &__type-parallel {
    height: 5.7rem;
    width: 6.5rem;
    font-size: $font-size-three;
    color: $color-gray-darker-one;
    font-weight: $font-weight-bolded;
    line-height: 5.7rem;
    text-align: center;
    background-color: $color-gray-light;
  }

  &__error {
    display: block;
    margin-top: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: $font-size-four;
    line-height: 2.6rem;
    color: $color-red-light;
  }

  &__required {
    color: $color-red-light;
    margin-left: 0.7rem;
  }

  &__btn {
    width: 5.7rem;
    height: 5.7rem;
    margin: 0;
    padding: 0;
    line-height: 5.7rem;
    text-align: center;
    background-color: $color-gray-light;
    border: none;
    outline: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2rem;

    &:hover {
      background-color: $color-gray;
    }

    &:active {
      background-color: $color-gray-dark-two;
    }

    &--inc {
      background-image: url("../img/icon-plus.svg");
      margin-left: 0.8rem;
    }

    &--dec {
      background-image: url("../img/icon-minus.svg");
    }
  }

  &__submit {
    @include btn_big;
  }

  &__display-photos {
    display: flex;
    flex-wrap: wrap;
  }

  &__grid-item {
    position: relative;
    flex-basis: 23%;
    height: auto;
    line-height: 0;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 8%;
  }

  &__preview-photo {
    width: 100%;
  }

  &__remove-btn {
    position: absolute;
    top: -20%;
    left: 50%;
    width: 40%;
    height: 40%;
    margin-left: -20%;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: $color-gray-light;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 5%;
      left: 5%;
      width: 90%;
      height: 90%;
      background-image: url("../img/icon-cross.svg");
      background-size: 50%;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  input::-webkit-calendar-picker-indicator,
  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    display: none;
  }
}
