.map {
  position: relative;

  &__image {
    height: 35rem;
    width: 100%;
    background-image: url("../images/map-sedona.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  &__caption {
    position: absolute;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }
}
