.preamble {
  position: relative;

  &__inner {
    padding: 4rem 10% 4.2rem;
    text-align: center;
  }

  &__header {
    margin-top: 0;
    margin-bottom: 2.8rem;
    font-weight: $font-bolded;
    line-height: $header-line-height;
    text-transform: uppercase;
  }

  &__paragraph {
    margin-top: 0;
    margin-bottom: 0;
    line-height: $paragraph-three-line-height;
    text-transform: uppercase;
  }

  &__svg {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    fill: $color-prmiary;
  }
}
