.preamble {
  display: block;
  text-align: center;
  overflow: hidden;
  margin-bottom: 3.1rem;
  &__inner{
    position: relative;
  }

  &__header {
    font-size: $font-size--h2;
    font-weight: $font-bolded;
    line-height: $header-line-height;
    text-transform: uppercase;
    margin-bottom: 2.85rem;
  }

  &__paragraph {
    font-size: $font-paragraph;
    line-height: $paragraph-one-line-height;
    text-transform: uppercase;
    // margin-bottom: 5px;
  }
}
