.preamble {
  position: relative;

  &__inner {
    padding: 4rem 6.25% 2.5rem;
    text-align: center;

    &--small {
      padding: 3.8rem 6.25% 1.7rem;
    }
  }

  &__header {
    margin-top: 0;
    margin-bottom: 2.8rem;
    font-weight: $font-bolded;
    line-height: $header-line-height;
    text-transform: uppercase;

    &--small {
      margin-bottom: 2.5rem;
    }
  }

  &__paragraph {
    margin-top: 0;
    margin-bottom: 0;
    line-height: $header-line-height;
    text-transform: uppercase;

    &--high {
      line-height: $line-height-base;
    }
  }
}
