.gallery {
  &__item {
    &::after {
      content: "";
      display: block;
      border-top: 1px solid $form-divider;
    }
  }

  &__inner {
    padding: 23px 5.75% 17px 6.25%;
  }

  &__caption {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 55px;
      left: 1px;
      height: 20px;
      width: 20px;
      background-image: url("../img/icon-like.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__title {
    margin-bottom: 0;
    font-size: $font-size;
    line-height: $line-height-base;
    text-transform: uppercase;
  }

  &__author {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: $font-size;
    line-height: $line-height-base;
  }

  &__likes {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 37px;
  }

  &__picture {
    text-align: center;
    line-height: 0;
  }
}
