.gallery {
  &__inner {
    @include inner_padding($padding-LR);
    padding-top: 2.2rem;
    padding-bottom: 1.6rem;
    border-top: 0.1rem solid $color-gray;
  }

  &__caption {
    position: relative;
    margin-top: 1.5rem;
    text-align: left;
  }

  &__title {
    @include header(h4);
    margin-bottom: 0;
    text-transform: uppercase;
  }

  &__author {
    @include paragraph($line-height-one);
    margin-bottom: 0.8rem;
  }

  &__likes {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 3.7rem;
  }

  &__btn {
    position: absolute;
    top: 5.5rem;
    left: 0.1rem;
    height: 2rem;
    width: 2.2rem;
    padding: 0;
    opacity: 0.4;
    background-image: url("../img/icon-like_2.svg");
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    border: none;
    background-color: $color-white;

    &:hover {
      background-color: $color-white;
      opacity: 1;
    }

    &:active {
      background-color: $color-white;
      opacity: 0.2;
    }
  }

  &__number {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 2.5rem;
  }

  &__picture {
    text-align: center;
    line-height: 0;

    & img {
      width: 100%;
    }
  }

  // Tablet screen
  @include screen-size($tablet-size) {
    &__item--flex {
      width: 50%;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: 50%;
    }

    &__inner {
      @include inner_padding($padding-tablet-four-LR);
      padding-top: 2rem;
      padding-bottom: 0;
      border-top: none;

      &--small {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
      }
    }

    &__picture {
      margin-bottom: 0;
    }

    &__caption {
      display: flex;
      justify-content: space-between;
      padding-top: 1.5rem;
      padding-bottom: 0.9rem;
      margin-top: 0;
      background-color: $color-gray-light;
    }

    &__text {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: 50%;
      width: 50%;
      margin-left: 2rem;
    }

    &__likes {
      display: flex;
      justify-content: flex-end;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: 50%;
      width: 50%;
      padding-top: 1.3rem;
      margin-left: 0;
      margin-right: 2.2rem;
      text-align: right;
    }

    &__btn {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      margin-right: 1rem;

      &:hover {
        background-color: transparent;
      }

      &:active {
        background-color: transparent;
      }
    }

    &__number {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
    }

    &__collection {
      display: flex;
      flex-wrap: wrap;

      @include inner_padding($padding-tablet-four-LR);
    }
  }

  // Desktop screen
  @include screen-size($desktop-size) {
    &__item--flex {
      width: 33.3%;
      flex-basis: 33.3%;
    }

    &__inner {
      position: relative;

      @include inner_padding($padding-desktop-five-LR);

      &--top {
        padding-top: 2.2rem;
      }
    }

    &__collection {
      flex-wrap: nowrap;

      @include inner_padding($padding-desktop-five-LR);
    }

    &__caption {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: $color-black-brighten-three;
    }

    &__title {
      color: $color-white;
    }

    &__author {
      color: $color-white;
    }

    &__number {
      color: $color-white;
    }

    &__btn {
      background-image: url("../img/icon-like_3.svg");
      background-color: transparent;
      opacity: 1;

      &:hover {
        opacity: 0.4;
      }

      &:active {
        opacity: 0.2;
      }
    }
  }
}
