html {
  font-size: $font-size-default;
}

body {
  font-family: $font-family;
  font-size: $font-size-default;
  line-height: $line-height-one;
}
// Links
//----------

a {
  text-decoration: none;
  color: $color-white;

  &:hover {
    color: $color-white;
  }
}
// Buttons
//----------

button {
  background-color: $color-blue;

  &:hover {
    background-color: $color-blue-dark;
  }

  &:active {
    background-color: $color-blue-darker;
  }

  &:disabled {
    background-color: $color-gray;
  }
}

img {
  max-width: 100%;
  height: auto;
}
