.developer {
  &__paragraph {
    display: inline-block;

    @include header(h5);
    margin-bottom: 0;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__logo {
    position: relative;
    top: 1.3rem;
    margin-left: 5px;
  }

  &__svg {
    &:hover {
      fill: $color-blue;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
