.video {
  &__intro {
    padding: 1.5rem 6.25% 1rem;
  }

  &__header {
    margin-bottom: 2.6rem;
    font-size: $font-size--h3;
    line-height: $header-line-height;
    text-align: center;
    text-transform: uppercase;
  }

  &__paragraph {
    margin-top: 0;
    font-size: $font-size;
    line-height: $line-height-base;
    text-align: center;
    text-transform: uppercase;
  }

  &__inner {
    height: 30.8rem;
    padding-top: 1rem;
  }

  &__control {
    position: relative;
    top: -5.3rem;
    padding-left: 6.25%;
    padding-right: 6.25%;
  }

  &__bar {
    position: relative;
    height: 5.3rem;
    width: 100%;
    background-color: rgba($bottom-border-color, 0.5);

    &::before {
      content: "";
      display: block;
      position: relative;
      top: 41%;
      margin-left: 2.2rem;
      margin-right: 2.2rem;
      width: auto;
      height: 0.3rem;
      background-color: $top-border;
    }
  }

  &__btn-control {
    position: relative;
    top: -0.8rem;
    height: 6.6rem;
    background-color: $color-input;
  }

  &__icon {
    position: relative;
    display: inline-block;
    padding: 0;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: $color-input;

    &:hover {
      background-color: $color-input;
    }

    &--play {
      top: 33%;
      left: 9%;
      height: 2rem;
      width: 1.6rem;
    }

    &--subtitles {
      top: 35%;
      left: 56%;
      height: 2rem;
      width: 3.2rem;
    }

    &--full-scr {
      top: 35%;
      left: 66%;
      height: 2rem;
      width: 2rem;
    }
  }

  &__svg {
    fill: $dark-gray;

    &:hover {
      fill: $color-radio-mark;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
