.video {
  &__intro {
    padding-top: 1.5rem;
    padding-bottom: 1rem;

    @include inner_padding($padding-LR);
    border-top: 1px solid $color-gray;
  }

  &__header {
    @include header(h3);
    margin-bottom: 2.6rem;
    text-align: center;
  }

  &__paragraph {
    @include paragraph($line-height-one, $uppercase);
    text-align: center;
  }

  &__inner {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 9.8rem;
    overflow: hidden;
  }

  &__picture {
    text-align: center;
  }

  &__control {
    position: absolute;
    bottom: 41px;
    width: 88%;
    padding-left: 6.25%;
    padding-right: 6.25%;
  }

  &__bar {
    position: relative;
    height: 44px;
    background-color: $color-black-brighten-two;

    &::before {
      content: "";
      display: block;
      position: relative;
      top: 52%;
      margin-left: 2.2rem;
      margin-right: 2.2rem;
      width: auto;
      height: 0.3rem;
      background-color: $color-white-dimm-two;
    }
  }

  &__pointer {
    position: relative;
    top: 17px;
    left: 22px;
    display: block;
    width: 10px;
    height: 10px;
    background-color: $color-white;
    border-radius: 50%;
    border-color: $color-white;
  }

  &__btn-control {
    position: relative;
    height: 6.6rem;
    background-color: $color-gray-light;
  }

  &__icon {
    position: absolute;
    display: inline-block;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: $color-gray-light;

    &:hover {
      background-color: $color-gray-light;
    }

    &--play {
      top: 23px;
      left: 26px;
      height: 2rem;
      width: 1.6rem;
    }

    &--subtitles {
      position: absolute;
      top: 23px;
      right: 75px;
      height: 2rem;
      width: 3.2rem;
    }

    &--full-scr {
      position: absolute;
      top: 23px;
      right: 25px;
      height: 2rem;
      width: 2rem;
    }
  }

  &__svg {
    fill: $color-gray-darker-two;

    &:hover {
      fill: $color-black-light;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
