.video {
  &__intro {
    padding: 1.5rem 6.25% 1rem;
  }

  &__header {
    margin-bottom: 2.6rem;
    font-size: $font-size--h3;
    line-height: $header-line-height;
    text-align: center;
    text-transform: uppercase;
  }

  &__paragraph {
    margin-top: 0;
    font-size: $font-size;
    line-height: $line-height-base;
    text-align: center;
    text-transform: uppercase;
  }

  &__inner {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 9.8rem;
  }

  &__picture {
    text-align: center;
  }

  &__control {
    position: absolute;
    bottom: 41px;
    width: 88%;
    padding-left: 6.25%;
    padding-right: 6.25%;
  }

  &__bar {
    position: relative;
    height: 44px;
    background-color: rgba($bottom-border-color, 0.5);

    &::before {
      content: "";
      display: block;
      position: relative;
      top: 52%;
      margin-left: 2.2rem;
      margin-right: 2.2rem;
      width: auto;
      height: 0.3rem;
      background-color: $top-border;
    }
  }

  &__pointer {
    position: relative;
    top: 17px;
    left: 22px;
    display: block;
    width: 10px;
    height: 10px;
    background-color: $color-white;
    border-radius: 50%;
    border-color: $color-white;
  }

  &__btn-control {
    position: relative;
    height: 6.6rem;
    background-color: $color-input;
  }

  &__icon {
    position: absolute;
    display: inline-block;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: $color-input;

    &:hover {
      background-color: $color-input;
    }

    &--play {

      top: 23px;
      left: 26px;
      height: 2rem;
      width: 1.6rem;
    }

    &--subtitles {
      position: absolute;
      top: 23px;
      right: 75px;
      height: 2rem;
      width: 3.2rem;
    }

    &--full-scr {
      position: absolute;
      top: 23px;
      right: 25px;
      height: 2rem;
      width: 2rem;
    }
  }

  &__svg {
    fill: $dark-gray;

    &:hover {
      fill: $color-radio-mark;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
